In [2]:
import requests
import pandas as pd
import json
import mysql.connector
from datetime import datetime, timedelta
import time
import nvda_config2

import twelvedata
from twelvedata import TDClient

In [3]:
# set up login
Cpassword = nvda_config2.mysql_password
td = TDClient(apikey=nvda_config2.twelve_api_nvda) 
base_url = 'https://api.twelvedata.com'

# Establish MySQL object
mydb = mysql.connector.connect(
    host="localhost",   
    user="root",         
    password=Cpassword,  
    database="nvdav1"   
)

mycursor = mydb.cursor()

# Twelve Data API parameters
symbol = "NVDA, SPCE, ABAT, BB, GME, GRRR, MAXN, TOMZ, XAU/USD"
interval = "1min"
outputsize = 5000

In [5]:
end_date = datetime.now()
start_date = end_date - timedelta(days=3) 
time_batch = td.time_series(symbol=symbol, interval=interval, outputsize=outputsize, start_date=start_date.strftime("%Y-%m-%d"),
        end_date=end_date.strftime("%Y-%m-%d"))
df = time_batch.with_macd().with_macd(fast_period=10).with_stoch().as_pandas()

In [6]:
# Store current prices as old_prices
old_prices = price_df.copy() if 'price_df' in locals() else pd.DataFrame()

# Get new prices
price_batch = td.price(symbol=symbol)
price_json = price_batch.as_json()
price_df = pd.DataFrame(price_json, index=["price"])

# Calculate the difference

if not old_prices.empty:
    diff = price_df.astype(float) - old_prices.astype(float)
    
    # Create a DataFrame to store old price, difference, and new price
    result_df = pd.DataFrame({
        'Old Price': old_prices.iloc[0],
        'Difference': diff.iloc[0],
        'New Price': price_df.iloc[0]
    })
    
    # Display the results
    print("Price Changes:")
    print(result_df)
else:
    print("Initial prices:")
    print(price_df)

df.to_csv('time_data.csv', index=False)
price_df.to_csv('price_data.csv', index=False)

Initial prices:
            NVDA     SPCE     ABAT       BB       GME     GRRR     MAXN     TOMZ     XAU/USD
price  107.27000  6.01000  0.99400  2.22000  21.07000  2.39000  0.16600  0.67000  2452.80000
Initial prices:
            NVDA     SPCE     ABAT       BB       GME     GRRR     MAXN     TOMZ     XAU/USD
price  107.27000  6.01000  0.99400  2.22000  21.07000  2.39000  0.16600  0.67000  2452.80000